.contactsBlockSignFormPole1 {
	width: 48%;
	height: 51px;
	background-color: #f1f4f7;
	box-sizing: border-box;
	border: none;
}

@media screen and (max-width: 992px) {
	.contactsBlockSignFormPole1 {
		height: 40px;
		margin-top: 15px;	
}
}

@media screen and (max-width: 768px) {
	.contactsBlockSignFormPole1 {
		width: 100%;	
}
}